.dataPage {
    background-color: #7a7676;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.521);
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
}

.dropDownContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}
